flows.json
[
    {
        "id": "8975569f1e06ceb0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81fc7724bb1fd349",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "042ec98e80223783",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "75511dec1fbf8da9",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 20,
        "height": 1
    },
    {
        "id": "e0034b3e036143a8",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 20,
        "height": 1
    },
    {
        "id": "7dd1872d69f72988",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 20,
        "height": 1
    },
    {
        "id": "31e99107e9300610",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 20,
        "height": 1
    },
    {
        "id": "b01e30704c6d3f6e",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 20,
        "height": 1
    },
    {
        "id": "682971ecaf7f87aa",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 20,
        "height": 1
    },
    {
        "id": "2eb22e199fd85f2b",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 20,
        "height": 1
    },
    {
        "id": "f335cdd7f19d79ae",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "805b2d449195304f",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 8,
        "height": 1
    },
    {
        "id": "07747fbed196ade4",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "a506377c6c39e6d1",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 8,
        "height": 1
    },
    {
        "id": "23df397cf68d8c76",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "7e7ad190f568c230",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 8,
        "height": 1
    },
    {
        "id": "e93749f6a164b8c3",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "d12d6750724cc015",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 8,
        "height": 1
    },
    {
        "id": "89720b6c5b863a7b",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "d77d2bdb1c131a21",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 8,
        "height": 1
    },
    {
        "id": "38abee94c427d335",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "6571882577108323",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 21,
        "width": 8,
        "height": 1
    },
    {
        "id": "2634675b2a29c3a9",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "5d915bc02b72b426",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 23,
        "width": 8,
        "height": 1
    },
    {
        "id": "8cb2d37fc223bbbb",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "a1f334da0b14a57c",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 25,
        "width": 8,
        "height": 1
    },
    {
        "id": "3c6791ccda211b38",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "66b4fa5270a7d4e7",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 27,
        "width": 8,
        "height": 1
    },
    {
        "id": "b593cf0e2341d029",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "2c176a3a6e7a8f71",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 29,
        "width": 8,
        "height": 1
    },
    {
        "id": "42537f8db38444f1",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "53601b34903c5d06",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 31,
        "width": 8,
        "height": 1
    },
    {
        "id": "2e61a6dc1cd0cc4e",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "706abad8d6926382",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 33,
        "width": 8,
        "height": 1
    },
    {
        "id": "d9ca275476898586",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "55ca28cb8d5a152a",
        "type": "ui_spacer",
        "z": "8975569f1e06ceb0",
        "name": "spacer",
        "group": "",
        "order": 35,
        "width": 8,
        "height": 1
    },
    {
        "id": "f75f3bff9d05695e",
        "type": "ui_group",
        "name": "Sonos",
        "tab": "67d4c11e476a5408",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "67d4c11e476a5408",
        "type": "ui_tab",
        "name": "Sonos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f9c2acc6a5c0bdfa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72638c028843b2f0",
        "type": "ui_group",
        "name": "Default",
        "tab": "f9c2acc6a5c0bdfa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "113fa980642b3874",
        "type": "gauth",
        "name": "hay-ocr@hay-ocr.iam.gserviceaccount.com"
    },
    {
        "id": "19dc9349.57f72d",
        "type": "ui_group",
        "name": "Google sheets",
        "tab": "5423d9a1.87d8b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5423d9a1.87d8b8",
        "type": "ui_tab",
        "name": "Submit form to google sheets",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f3ded8d193111da",
        "type": "exec",
        "z": "8975569f1e06ceb0",
        "command": "curl -F \"audio=@sample.wav\" -X POST https://45.79.242.8/model/predict -k",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 330,
        "y": 860,
        "wires": [
            [
                "a41dfe801e509408"
            ],
            [],
            []
        ]
    },
    {
        "id": "573043063b31d2d9",
        "type": "inject",
        "z": "8975569f1e06ceb0",
        "name": "",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "9f3ded8d193111da"
            ]
        ]
    },
    {
        "id": "a41dfe801e509408",
        "type": "debug",
        "z": "8975569f1e06ceb0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 720,
        "wires": []
    },
    {
        "id": "2b84f173115f46ba",
        "type": "inject",
        "z": "8975569f1e06ceb0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "61e2addbdf162132"
            ]
        ]
    },
    {
        "id": "0f498a203b141e9d",
        "type": "debug",
        "z": "8975569f1e06ceb0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "61e2addbdf162132",
        "type": "exec",
        "z": "8975569f1e06ceb0",
        "command": "curl -F \"audio=@/data/sample.wav\" -X POST https://45.79.242.8/model/predict -k",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "0f498a203b141e9d"
            ],
            [],
            []
        ]
    }
]
